html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.x-serif {
  font-family: "Trirong", serif; }

.x-sans {
  font-family: "Open Sans", sans-serif; }

.x-dpy-none-ipt {
  display: none !important; }

.x-dpy-none {
  display: none; }

.x-dpy-flex {
  display: flex; }

.x-dpy-block {
  display: block; }

.x-dpy-grid {
  display: grid; }

.x-flx-1 {
  display: flex; }

.x-flx-2 {
  display: flex;
  justify-content: center; }

.x-flx-3 {
  display: flex;
  align-items: center; }

.x-flx-4 {
  display: flex;
  justify-content: center;
  align-items: center; }

.x-flx-5 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.x-flx-6 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.x-flx-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.x-pst-fix {
  position: fixed; }

.x-pst-abs {
  position: absolute; }

.x-pst-rel {
  position: relative; }

.x-pst-stc {
  position: static; }

.x-bg-black {
  background: black; }

.x-bg-white {
  background: white; }

.x-bg-Grey {
  background: Grey; }

.x-bg-tomato {
  background: tomato; }

.x-clr-black {
  color: black; }

.x-clr-white {
  color: white; }

.x-clr-Grey {
  color: Grey; }

.x-clr-tomato {
  color: tomato; }

.x-wh-full {
  width: 100%; }

.x-ht-full {
  height: 100%; }

.x-vw-full {
  width: 100vw; }

.x-vh-full {
  height: 100vh; }

.x-ovr-hid {
  overflow: hidden; }

.x-ovr-scl {
  overflow: scroll; }

.x-ovr-at {
  overflow: auto; }

.x-ovr-vsb {
  overflow: visible; }

.x-img-full {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.x-cur-ptr {
  cursor: pointer; }

.x-szg-box {
  box-sizing: border-box; }

.col-50 {
  width: 50%; }

.x-max-container {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto; }

.x-text-up {
  text-transform: uppercase; }

.x-padding-50 {
  padding: 50px; }

.x-max-wh {
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 1022px) {
  .x-min-none-1024 {
    display: none !important; } }

@media only screen and (max-width: 1021px) {
  .x-max-none-1024 {
    display: none !important; } }

.x-serif {
  font-family: "Trirong", serif; }

.x-sans {
  font-family: "Open Sans", sans-serif; }

.x-dpy-none-ipt {
  display: none !important; }

.x-dpy-none {
  display: none; }

.x-dpy-flex {
  display: flex; }

.x-dpy-block {
  display: block; }

.x-dpy-grid {
  display: grid; }

.x-flx-1 {
  display: flex; }

.x-flx-2 {
  display: flex;
  justify-content: center; }

.x-flx-3 {
  display: flex;
  align-items: center; }

.x-flx-4 {
  display: flex;
  justify-content: center;
  align-items: center; }

.x-flx-5 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.x-flx-6 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.x-flx-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.x-pst-fix {
  position: fixed; }

.x-pst-abs {
  position: absolute; }

.x-pst-rel {
  position: relative; }

.x-pst-stc {
  position: static; }

.x-bg-black {
  background: black; }

.x-bg-white {
  background: white; }

.x-bg-Grey {
  background: Grey; }

.x-bg-tomato {
  background: tomato; }

.x-clr-black {
  color: black; }

.x-clr-white {
  color: white; }

.x-clr-Grey {
  color: Grey; }

.x-clr-tomato {
  color: tomato; }

.x-wh-full {
  width: 100%; }

.x-ht-full {
  height: 100%; }

.x-vw-full {
  width: 100vw; }

.x-vh-full {
  height: 100vh; }

.x-ovr-hid {
  overflow: hidden; }

.x-ovr-scl {
  overflow: scroll; }

.x-ovr-at {
  overflow: auto; }

.x-ovr-vsb {
  overflow: visible; }

.x-img-full {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.x-cur-ptr {
  cursor: pointer; }

.x-szg-box {
  box-sizing: border-box; }

.col-50 {
  width: 50%; }

.x-max-container {
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto; }

.x-text-up {
  text-transform: uppercase; }

.x-padding-50 {
  padding: 50px; }

.x-max-wh {
  max-width: 1430px;
  margin-left: auto;
  margin-right: auto; }

@media only screen and (min-width: 1022px) {
  .x-min-none-1024 {
    display: none !important; } }

@media only screen and (max-width: 1021px) {
  .x-max-none-1024 {
    display: none !important; } }

h1 {
  font-family: "Trirong", serif;
  font-size: 2.5rem; }

h2 {
  font-family: "Trirong", serif; }

p {
  font-family: "Open Sans", sans-serif;
  color: #959595;
  font-size: .8rem;
  line-height: 1.8rem; }

@media only screen and (min-width: 1365px) {
  font-size: .9rem; }

span {
  font-family: "Open Sans", sans-serif; }

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer; }

.menu-mobile {
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 99;
  top: 0;
  left: -100vw;
  flex-direction: column; }

.closed {
  font-size: 2.5rem;
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 10px;
  right: 10px; }

@media only screen and (min-width: 1023px) {
  .x-compartilhar {
    position: fixed;
    top: 71%;
    left: 3%;
    display: flex;
    align-items: center;
    transform-origin: center left;
    transform: rotate(-90deg);
    z-index: 1; }
  .x-compartilhar .risco {
    width: 80px;
    height: 1px;
    background: #000; }
  .x-compartilhar span {
    font-family: "Open Sans", sans-serif;
    font-size: .6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 10px; }
  .x-compartilhar .social img {
    height: 15px; } }

.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99; }

.main-header {
  width: 100%;
  padding: 30px 20px;
  max-width: 1430px; }

.header .x-menu {
  display: none; }

.x-cart {
  display: none; }

.logo {
  height: 40px; }

.mobile-trigger {
  width: 25px;
  height: 14px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.mobile-trigger-line {
  width: 100%;
  height: 2px; }

@media only screen and (min-width: 767px) {
  .main-header {
    padding: 45px 10px; } }

.full-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000000;
  overflow: hidden; }

@media only screen and (min-width: 1023px) {
  .mobile-trigger {
    display: none; }
  .main-header {
    padding: 45px 20px;
    justify-content: space-between; }
  .header .x-menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: auto; }
  .header .logo {
    height: 40px; }
  .header .x-menu li {
    color: black;
    margin-bottom: 0; }
  .header .x-menu-2 li {
    color: white; }
  .x-cart {
    display: flex;
    height: 100%;
    margin-left: 10px; }
  .bg-cart {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black; }
  .bg-cart-2 {
    background: white; }
  .bg-cart img {
    height: 14px; } }

@media only screen and (min-width: 767px) {
  .main-header {
    padding: 45px 30px; } }

@media only screen and (min-width: 1365px) {
  .main-header {
    padding: 45px 40px; } }

@media only screen and (min-width: 1919px) {
  .main-header {
    padding: 45px 0; }
  .header .x-menu li {
    margin-left: 30px; } }

.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.btn-branco {
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: .07rem;
  border: 1px solid #D2D2D2;
  color: black;
  padding: 20px 40px;
  margin: 10px; }

.btn-branco img {
  height: 8px;
  margin-left: 20px; }

.btn-transparent {
  font-family: "Open Sans", sans-serif;
  font-size: .8rem;
  letter-spacing: .3rem;
  padding: 8px;
  border-bottom: 2px solid #000;
  text-transform: uppercase; }

.title-separator {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px; }

.title-separator span {
  font-family: "Trirong", serif;
  font-size: 1.5rem;
  padding: 5px;
  max-width: 70%; }

.title-separator .holder-risco {
  flex-grow: 1;
  background: #A1A1A1;
  height: 1px;
  margin-left: 10px; }

@media only screen and (min-width: 1365px) {
  .title-separator {
    padding-bottom: 60px; } }

@media only screen and (min-width: 1919px) {
  .title-separator span {
    font-size: 1.8rem; } }

.slider-type-1 {
  position: relative;
  width: 97%;
  height: 120vw;
  overflow: hidden;
  margin: 60px auto; }

@media only screen and (min-width: 767px) {
  .slider-type-1 {
    width: 85%;
    height: 60vw;
    margin: 150px auto; } }

.cortina {
  width: 100%;
  height: 100%;
  background: #cfcfcf;
  position: absolute; }

.trigger-1 {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000; }

.trigger-1 img {
  height: 12px; }

.holder-trigger {
  position: absolute;
  right: 0;
  bottom: 0; }

.trigger-1:last-child {
  margin-top: 5px; }

.the-looks {
  padding: 60px 0;
  flex-direction: column; }

.ctn-looks {
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap; }

.look {
  width: 41vw;
  padding: 5px 5px 40px; }

.ctn-looks .holder-photo {
  width: 100%;
  height: 61vw;
  background: #000; }

.look-info {
  padding: 30px 0; }

.look-info .titulo {
  font-size: 1rem;
  width: auto;
  font-family: "Open Sans", sans-serif;
  padding: 0 0 10px; }

.look-info .codigo {
  font-family: "Open Sans", sans-serif;
  font-size: .8rem;
  color: #A1A1A1; }

@media only screen and (min-width: 767px) {
  .ctn-looks {
    width: 85%; } }

@media only screen and (min-width: 1023px) {
  .ctn-looks {
    width: 75%; }
  .look {
    width: 182px; }
  .ctn-looks .holder-photo {
    width: 100%;
    height: 260px; } }

@media only screen and (min-width: 1365px) {
  .the-looks {
    padding: 100px 0; }
  .ctn-looks {
    width: 78%; }
  .look {
    width: 245px; }
  .ctn-looks .holder-photo {
    width: 100%;
    height: 350px; } }

@media only screen and (min-width: 1919px) {
  .ctn-looks {
    width: 100%; }
  .look {
    width: 345px; }
  .ctn-looks .holder-photo {
    width: 100 .ctn-looks .holder-photo;
    height: 480px; } }

.footer {
  width: 100%;
  background: black;
  padding: 80px 0; }

.footer .holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto; }

.x-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0; }

.x-menu li {
  font-size: .7rem;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: .06rem;
  padding: 10px;
  margin-bottom: 20px;
  text-transform: uppercase; }

.dev {
  display: flex;
  flex-direction: column;
  align-items: center; }

.social img {
  height: 20px;
  padding: 5px; }

.dev p {
  color: #434343;
  font-size: .7rem;
  letter-spacing: .2rem;
  margin-top: 40px; }

@media only screen and (min-width: 1023px) {
  .footer {
    padding: 60px 0; }
  .footer .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 110px; }
  .footer .x-menu {
    flex-direction: row;
    padding: 20px 0; }
  .footer .x-menu li {
    margin-bottom: 0; }
  .footer .dev {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 90%; }
  .footer .dev p {
    margin-top: 0; } }

@media only screen and (min-width: 1919px) {
  .footer .links {
    margin-bottom: 200px; }
  .footer .x-menu li {
    margin-left: 30px; } }

.holder-product {
  width: 340px;
  position: relative;
  margin: 0 auto; }

.product-full .holder-img-full {
  width: 100%;
  height: 500px; }

.product-full .thumb {
  width: 100%;
  margin: 0 auto; }

.product-full .thumb {
  justify-content: space-around; }

.thumb .holder {
  width: 80px;
  height: 80px;
  margin: 10px 0 0;
  border: 2px solid white;
  overflow: hidden; }

.product-specifications {
  width: 100%; }

.specifications-1 {
  padding: 30px 0;
  justify-content: space-between;
  align-items: center; }

.specifications-1 .name {
  line-height: 2.7rem; }

.specifications-2 {
  font-family: "Open Sans", sans-serif;
  justify-content: space-between;
  font-size: .9rem;
  border-bottom: 1px solid #dbdbdb;
  padding: 10px 0; }

.specifications-2 .feature {
  font-weight: 700;
  letter-spacing: .1rem; }

.specifications-2 span {
  padding: 5px 10px; }

.product-specifications .variation {
  padding: 8px; }

.product-specifications .variation img {
  height: 5px; }

.specifications-3 {
  padding: 10px 0;
  justify-content: space-between; }

.specifications-3 .btn-branco {
  margin: 5px 0;
  padding: 20px 60px; }

.specifications-3 span {
  font-size: 1.3rem; }

.specifications-4 {
  margin-top: 50px; }

.specifications-4 span {
  font-family: "Open Sans", sans-serif;
  font-size: .6rem;
  color: #A1A1A1;
  padding: 0 10px;
  border-right: 1px solid #A1A1A1;
  letter-spacing: .05rem; }

.specifications-4 span:nth-child(1) {
  padding-left: 0 !important; }

.specifications-5 p {
  padding: 25px 0; }

@media only screen and (min-width: 767px) {
  .product-full .holder-product {
    width: 90%;
    margin: 0 auto; } }

@media only screen and (min-width: 1023px) {
  .product-full .holder-product {
    display: flex; }
  .product-full .holder-img-full {
    width: 400px;
    height: 600px;
    margin-right: 50px; }
  .product-full .col-1 {
    position: relative; }
  .product-full .thumb {
    width: auto;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 20px; }
  .thumb .holder {
    width: 40px;
    height: 40px;
    margin: 10px 0 0; } }

@media only screen and (min-width: 1365px) {
  .product-full .holder-img-full {
    width: 590px;
    height: 750px; }
  .thumb .holder {
    width: 60px;
    height: 60px; } }

@media only screen and (min-width: 1919px) {
  .product-full {
    padding: 30px 0 80px; }
  .sct-looks.row-2 {
    margin-top: 130px; } }
