@charset "UTF-8";
/*

font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;

*/
/* COMEÇO */
body {
  background-color: #fff;
  margin: 0;
  text-decoration: none; }

h1 {
  color: #000;
  font-family: "Righteous", cursive; }

p {
  font-family: "Roboto", sans-serif; }

li {
  list-style: none; }

/* HEADER */
.menu-principal {
  position: absolute;
  display: flex;
  width: 300px;
  top: 30px;
  left: 30px;
  align-items: center; }

.icone-menu {
  width: 15px;
  padding: 10px; }

.nome-menu {
  font-size: 14px;
  padding: 10px 0;
  line-height: 10px;
  letter-spacing: 1px; }

.icone-search {
  position: absolute;
  width: 15px;
  padding: 10px;
  top: 30px;
  right: 30px; }

/* FIM HEADER */
/* FOOTER */
.box-idioma {
  position: absolute;
  display: flex;
  width: 300px;
  bottom: 20px;
  left: 30px;
  align-items: center; }

.icone-idioma {
  width: 15px;
  padding: 10px; }

.idioma {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  padding: 10px 0;
  line-height: 10px;
  letter-spacing: 1px; }

.social ul {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: block;
  width: 50px;
  padding: 0;
  text-align: right; }

.social img {
  width: 15px;
  padding: 5px; }

.container1 {
  max-width: 1140px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative; }

.box-img {
  max-width: 700px;
  padding-top: 210px; }

.box-img img {
  width: 100%; }

.text {
  position: absolute;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.text h1 {
  font-size: 180px;
  text-transform: uppercase;
  z-index: -1;
  letter-spacing: 10px; }

.text h1::before {
  content: 'The Revolution in chairs';
  position: absolute;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  right: 5%;
  top: -60px;
  text-transform: uppercase;
  color: #a4a5aa;
  letter-spacing: 5px; }

.text .p1 {
  position: absolute;
  font-size: 265px;
  text-transform: uppercase;
  z-index: -2;
  letter-spacing: -7px;
  font-family: "Righteous", cursive;
  color: #f7f7f7;
  top: -360px; }

.p2 {
  font-size: 25px;
  position: absolute;
  right: 10px;
  color: #ab8146;
  margin-top: 40px; }

.p2::before {
  content: '';
  color: #ab8146;
  margin-top: 30px;
  background: #ab8146;
  width: 80px;
  height: 5px;
  position: absolute; }
