@import 'normal-reset';
@import 'x-mixins';
@import 'myheader';
@import 'myfooter';

// scss
$Trirong: 'Trirong', serif;
$OpenSans: 'Open Sans', sans-serif;
$cinzaClaro: #A1A1A1;

// classes especiais
.main {
  padding: 0;
}

.main-holder {
  max-width: none;
}

.blog-header-inner {
  padding: 100px 0 50px;
}

.blog-header-inner .col-1 {
  height: 100vw;
  margin: 0 auto;
}

.blog-header-inner .titulo {
  position: relative;
  width: 85%;
  background: #fafafa;
  padding: 50px;
  margin: -90px auto 0;
  z-index: 1;
  max-width: 650px;
}

.blog-header-inner .titulo-1 {
  line-height: 2.8rem;
}

.blog-header-inner .data {
  color: $cinzaClaro;
  font-size: .7rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  padding: 30px 0;
}

//
@include x-768 {
  .blog-header-inner {
    padding: 130px 0 50px;
  }

  .blog-header-inner .col-1 {
    height: 80vw;
  }

  .blog-header-inner .titulo {
    width: 70%;
    padding: 70px;
    margin: -130px auto 0;
  }
}

//
@include x-1024 {
  .blog-header-inner .col-1 {
    height: 60vh;
  }

  .blog-header-inner .titulo {
    width: 50%;
  }
}
@include x-1366 {
  .blog-header-inner .col-1 {
    height: 70vh;
  }

  .blog-header-inner .titulo {
    width: 40%;
    margin: -190px auto 0;
  }
}

//
.holder-news {
  max-width: 650px;
  margin: 0 auto;
}

.holder-news .x-h2 {
  padding: 30px 0;
}

.holder-news .x-p {
  padding-bottom: 20px;
}

//
@include x-1024 {
  .holder-news {
    padding: 130px 0;
  }
}

// next post
.next-post .titulo-1 {
  font-size: 1.7rem;
  line-height: 2rem;
  padding-bottom: 30px;
}

// slider
.slider-type-1 {
  margin: 80px auto;
}
@include x-1366 {
  .slider-type-1 {
    width: 80%;
    height: 50vw;
    max-height: 830px;
  }
}
