@import 'normal-reset';
@import 'x-mixins';
@import 'myheader';
@import 'myfooter';

// scss
$Trirong: 'Trirong', serif;
$OpenSans: 'Open Sans', sans-serif;
$cinzaClaro: #A1A1A1;

// classes especiais
.main {
  padding-top: 0;
}

.main-holder {
  max-width: none;
}

.blog-header {
  padding: 100px 0 50px;
}

.blog-header .col-1 {
  height: 100vw;
  margin: 0 auto;
}

.blog-header .titulo {
  position: relative;
  width: 85%;
  background: #fafafa;
  padding: 50px;
  margin: -90px auto 0;
  z-index: 1;
}

.blog-header .titulo-2 {
  margin-left: 80px;
  margin-bottom: 20px;
}

.category-post {
  padding: 10px;
  margin-bottom: 20px;
  margin-left: -90px;
}

.category-post .risco {
  width: 80px;
  height: 1px;
  background: #C4C4C4;
  margin-right: 30px;
}

.category-post span {
  color: $cinzaClaro;
  font-size: .7rem;
  letter-spacing: .2rem;
}

//
@include x-768 {
  .blog-header {
    padding: 130px 0 50px;
  }

  .blog-header .col-1 {
    height: 80vw;
  }

  .blog-header .titulo {
    width: 70%;
    padding: 70px;
    margin: -130px auto 0;
  }
}

//
@include x-1024 {
  .blog-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .blog-header .col-1 {
    width: 85%;
    height: calc(100vh - 130px);
    margin: 0;
  }

  .blog-header .titulo {
    position: absolute;
    width: 400px;
    margin: auto;
    left: 5%;
  }
}

//
@include x-1366 {}

//
@include x-1920 {
  .blog-header .col-1 {
    max-width: 1620px;
    max-height: 830px;
  }

  .blog-header .titulo {
    left: 6%;
  }
}

// post grid
.post-grid {
  padding: 40px 10px;
}

.post-grid .holder-post {
  max-width: 1100px;
}

.post-grid .col-1 {
  width: 100%;
  height: 80vw;
}

.post-grid .col-2 {
  padding: 40px;
}

.post-grid .data {
  color: $cinzaClaro;
  font-size: .7rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  padding: 10px 0;
}

.post-grid h1 {
  padding: 15px 0;
  line-height: 3rem;
}

.post-grid .btn-transparent {
  margin-top: 20px;
}

//
@include x-768 {
  .post-grid {
    padding: 60px 10px;
  }

  .post-grid .holder-post {
    display: flex;
  }

  .post-grid .col-1 {
    width: 50%;
    height: 60vw;
  }

  .post-grid .col-2 {
    width: 50%;
    box-sizing: border-box;
  }
}

//
@include x-1024 {
  .post-grid {
    padding: 80px 10px;
  }

  .post-grid .col-1 {
    height: 40vw;
  }
}

//
@include x-1024 {
  .post-grid {
    padding: 100px 10px;
  }

  .post-grid .col-1 {
    max-height: 400px;
  }
}

//
@include x-1366 {
  .post-grid {
    //padding: 80px 10px;
  }

  .post-grid .col-1 {
    height: 30vw;
  }
}

// call news
.call-news {
  margin-bottom: 100px;
}

.call-news .holder {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
}

.call-news p {
  font-family: $Trirong;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-weight: 300;
  padding: 5px;
  letter-spacing: .05rem;
  text-align: center;
  line-height: 2.3rem;
  margin-bottom: 50px;
}

.call-news .holder span {
  font-family: $Trirong;
  font-size: 1.6rem;
  font-weight: 700;
  border-bottom: 2px solid #000;
}

.call-news .holder img {
  height: 6px;
  padding: 0 5px;
  margin-bottom: 3px;
}
@media only screen and (min-width: 1023px) {
  .call-news p {
    font-size: 1.7rem;
    letter-spacing: .15rem;
  }

  .call-news .holder span {
    font-size: 1.8rem;

  }
}
