@import 'normal-reset';
@import 'x-mixins';
@import 'myheader';
@import 'myfooter';

// scss
$Trirong: 'Trirong', serif;
$OpenSans: 'Open Sans', sans-serif;
$cinzaClaro: #A1A1A1;

// busca // full header
.full-header .holder {
  width: 90%;
  padding: 20px;
}

.full-header p {
  font-family: $Trirong;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 5px;
  letter-spacing: .05rem;
  text-align: center;
  line-height: 2.3rem;
}

.full-header .holder span {
  font-size: 1.6rem;
  font-weight: 700;
}

.full-header .holder img {
  height: 6px;
  padding: 0 5px;
}
@media only screen and (min-width: 1023px) {
  .full-header p {
    font-size: 1.7rem;
    letter-spacing: .15rem;
  }

  .full-header .holder span {
    font-size: 1.8rem;

  }
}
