@import 'normal-reset';
@import 'x-mixins';
@import 'myheader';
@import 'myfooter';

// scss
$Trirong: 'Trirong', serif;
$OpenSans: 'Open Sans', sans-serif;
$cinzaClaro: #A1A1A1;

// Coleções
// full header
.full-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000000;
  overflow: hidden;
}

.full-header .titulo {
  bottom: 20%;
  right: 7%;
}

.full-header .titulo p {
  font-size: .5rem;
  letter-spacing: .3rem;
  margin-left: 35px;
  margin-bottom: -5px;
}

.full-header .titulo .xh1 {
  font-size: 3rem;
  line-height: 2.7rem;
}

.full-header .titulo-2 {
  margin-left: 40px;
}

//
@include x-768 {
  .full-header .titulo {
    bottom: 35%;
  }

  .full-header .titulo .xh1 {
    font-size: 5rem;
    line-height: 5rem;
  }

  .full-header .titulo p {
    font-size: .9rem;
    letter-spacing: .5rem;
    margin-left: 53px;
    margin-bottom: -5px;
  }
}

//
@include x-1024 {
  // full header
  .full-header .titulo {
    bottom: 35%;
    right: 9%;
  }

  .full-header .titulo h1 {
    font-size: 4.2rem;
    line-height: 4.2rem;
  }

  .full-header .titulo p {
    font-size: .7rem;
    letter-spacing: .5rem;
    margin-left: 48px;
    margin-bottom: -15px;
  }

  .full-header .titulo-2 {
    margin-left: 65px;
  }
}

//
@include x-1366 {}

//
@include x-1920 {
  .full-header .titulo h1 {
    font-size: 5.2rem;
    line-height: 5.0rem;
  }

  .full-header .titulo {
    bottom: 40%;
    right: 20%;
  }
}

// main
.main {
  padding-top: 0;
}

.main-holder {
  max-width: none;
}

// slider desktop
@include x-1024 {
  .slider-desktop {
    width: 80%;
    position: relative;
    max-width: 1430px;
    max-height: 950px;
    margin: 0 auto;
    padding: 180px 0;
  }

  .slider-1,
  .slider-2 {
    height: 550px;
    position: relative;
  }

  .slider-desktop .trigger {
    width: 55px;
    height: 95px;
    background: #000;
    position: absolute;
  }

  .slider-desktop .trigger img {
    height: 8px;
  }

  .slider-1 .trigger {
    right: 0;
    background: #fff;
  }

  .slider-2 .trigger {
    left: 0;
  }
}

//
@include x-1366 {
  .slider-desktop {
    width: 70%;
  }

  .slider-1,
  .slider-2 {
    height: 700px;
  }
}
@include x-1920 {
  .slider-desktop {
    width: 100%;
  }

  .slider-1,
  .slider-2 {
    height: 830px;
  }
}

// sections
.row-1 {
  font-size: 0;
  padding: 60px 0;
}

.row-1 .col-1 {
  height: 130vw;
}

.row-1 .col-2 {
  box-sizing: border-box;
  padding: 50px;

}

.row-1 .titulo-1 {
  margin-left: 20px;
}

.row-1 .titulo-2 {
  margin-left: 50px;
  margin-bottom: 40px;
}

.row-2 {
  padding: 70px 0;
}

.row-2 .col-1 {
  height: 130vw;
}

.row-3 {
  margin-bottom: 70px;
}

.row-3 .titulo {
  position: relative;
  width: 85%;
  background: #f5f5f5;
  padding: 50px;
  margin: -80px auto 0;
  z-index: 1;
}

.row-3 .titulo-2 {
  margin-left: 20px;
  margin-bottom: 20px;
}

//
@include x-768 {
  .row-1 {
    display: flex;
    padding: 0;
  }

  .row-1 .col-1 {
    width: 40vw;
    height: 70vw;
  }

  .row-1 .col-2 {
    padding: 80px;
    width: 60vw;
  }

  .row-2 {
    padding: 0 0 70px;
  }

  .row-2 .col-1 {
    width: 50vw;
    height: 70vw;
    margin-left: 40%;
  }
}

//
@media only screen and (min-width: 1023px) {
  .main-holder {
    width: 100%;
  }

  // seções
  .row-1 {
    display: flex;
  }

  .row-1 .col-1 {
    width: 65vw;
    height: 70vw;
  }

  .row-1 .col-2 {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .row-1 .titulo {
    width: 80%;
  }

  .row-2 {
    margin-top: -1px;
  }

  .row-2 .col-1 {
    width: 57vw;
    height: 68vw;
    margin-left: 35%;
    margin-top: 1px;
  }

  .row-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .row-3 .col-1 {
    width: 80vw;
    height: 65vw;
  }

  .row-3 .titulo {
    position: absolute;
    width: 400px;
    margin: auto;
    left: 5%;
  }

}

//
@media only screen and (min-width: 1365px) {
  .xh1 {
    font-size: 3.5rem;
    line-height: 3.7rem;
  }

  .row-1 {
    align-items: center;
  }

  .row-1 .col-1 {
    width: 50vw;
    height: 60vw;
  }

  .row-1 .titulo {
    width: 60%;
    height: 60%;
    margin-left: 100px;
  }

  .row-2 {
    margin-bottom: 130px;
  }

  .row-2 .col-1 {
    width: 50vw;
    height: 58vw;
    max-width: 960px;
    max-height: 1200px;
  }

  .row-3 {
    margin-bottom: 100px;
  }

  .row-3 .col-1 {
    width: 80vw;
    height: 57vw;
    max-height: 950px;
    max-width: 1600px;
  }

  .row-3 .titulo {
    width: 500px;
    padding: 100px;
  }

}
@media only screen and (min-width: 1919px) {
  .row-1 .col-1 {
    width: 50vw;
    height: 100vh;
    max-width: 950px;
    max-height: 1000px;
  }

}

// next page
.next-page {
  background: #EFEBE9;
  padding: 0 0 60px;
}

.next-page .holder-texto {
  padding: 60px 20px;

}

.next-page .risco {
  width: 50px;
  height: 2px;
  background: #B4B4B4;
  margin: 20px;
}

.next-page span {
  color: $cinzaClaro;
  font-family: $OpenSans;
  font-size: .7rem;
  letter-spacing: .2rem;
  padding: 20px;
  margin-left: 30px;
}

.next-page .xh1 {
  font-size: 3.5rem;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

.next-page .risco-2 {
  width: 100px;
  height: 1px;
  background: black;
  margin: 20px;
}

.next-page .holder-photo {
  width: 97%;
  height: 35vh;
  margin: 0 auto;
}

//
@include x-768 {
  .next-page {
    padding: 130px 0;
  }

  .next-page .col-1 {
    display: flex;
  }

  .next-page .xh1 {
    font-size: 4.5rem;
  }

  .next-page .holder-texto {
    width: 70%;
    margin: 0 auto;
  }

  .next-page .holder-photo {
    width: 80%;
    margin: 0 0 0 auto;
  }
}

//
@include x-1024 {
  //next page
  .next-page .col-1 {
    display: flex;
    align-items: center;
  }

  .next-page .holder-photo {
    width: 690px;
    height: 410px;
  }

  .next-page .holder-texto {
    height: 60%;
  }
}

//
@include x-1366 {
  // next page
  .next-page .xh1 {
    font-size: 5rem;
  }

  .next-page .holder-texto {
    width: 25%;
    margin: 0 auto;
  }

  .next-page .holder-photo {
    width: 50vw;
    height: 30vw;
  }
}

//
@include x-1920 {}