@import 'normal-reset';
@import 'x-mixins';
@import 'myheader';
@import 'myfooter';

// scss
$Trirong: 'Trirong', serif;
$OpenSans: 'Open Sans', sans-serif;
$cinzaClaro: #A1A1A1;

// main
.main {
  width: 100%;
}

// contato

// full header
.blog-header {
  padding: 100px 0 50px;
}

.blog-header .col-1 {
  height: 100vw;
  margin: 0 auto;
}

.blog-header .titulo {
  position: relative;
  width: 85%;
  background: #fafafa;
  padding: 50px;
  margin: -90px auto 0;
  z-index: 1;
}

.blog-header .titulo-2 {
  margin-left: 80px;
  margin-bottom: 20px;
}

.category-post {
  padding: 10px;
  margin-bottom: 20px;
  margin-left: -90px;
}

.category-post .risco {
  width: 80px;
  height: 1px;
  background: #C4C4C4;
  margin-right: 30px;
}

.category-post span {
  color: $cinzaClaro;
  font-size: .7rem;
  letter-spacing: .2rem;
}

//
@include x-768 {
  .blog-header {
    padding: 130px 0 50px;
  }

  .blog-header .col-1 {
    height: 80vw;
  }

  .blog-header .titulo {
    width: 70%;
    padding: 70px;
    margin: -130px auto 0;
  }
}

//
@include x-1024 {
  .blog-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .blog-header .col-1 {
    width: 85%;
    height: calc(100vh - 130px);
    margin: 0;
  }

  .blog-header .titulo {
    position: absolute;
    width: 400px;
    margin: auto;
    left: 5%;
  }
}

//
@include x-1366 {}

//
@include x-1920 {
  .blog-header .col-1 {
    max-width: 1620px;
    max-height: 830px;
  }

  .blog-header .titulo {
    left: 6%;
  }
}

// itens do contato
.specifications {
  width: 95%;
  padding: 70px 0;
}

.specifications .variation img {
  height: 5px;
  margin-top: 3px;
}

.row-1 {
  font-family: $OpenSans;
  justify-content: space-between;
  font-size: .9rem;
  border-bottom: 1px solid rgb(219, 219, 219);
  padding: 10px 0;
  margin-bottom: 40px;
}

.row-1 .feature {
  font-weight: 700;
  letter-spacing: .1rem;
  margin-bottom: 5px;
}

.row-1 span {
  padding: 5px 10px 0 0;
}

// mapa

.holder-map {
  padding: 50px 20px;
}

.x-map {
  width: 100%;
  height: 100vw;
  background: #000000;
  margin-bottom: 50px;
  max-height: 600px !important;
}

//
@include x-768 {
  .holder-main {
    width: 80%;
  }

  .row-1 {
    display: flex;
    padding: 15px 0;
  }

  .x-map {
    width: 95%;
    height: 50vw;
  }
}

//
@include x-1024 {
  .x-map {
    margin-bottom: 80px;
  }

  .bg-map {
    width: 95%;
    height: 50vw;
    top: 50px;
    left: -50px;
    background: #000;
    z-index: -1;
    max-height: 600px !important;
  }
}

//
@include x-1366 {
  .x-map {
    margin-bottom: 140px;
  }

  .bg-map {
    top: 90px;
    left: -100px;
  }
}

// botão transparent
.holder-main .btn-transparent {
  margin-bottom: 80px;
}

//
@include x-1024 {
  .holder-main .btn-transparent {
    margin-bottom: 110px;
  }
}

// call news
.call-news {
  margin-bottom: 100px;
}

.call-news .holder {
  width: 95%;
  padding: 20px;
  margin: 0 auto;
}

.call-news p {
  font-family: $Trirong;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  font-weight: 300;
  padding: 5px;
  letter-spacing: .05rem;
  text-align: center;
  line-height: 2.3rem;
  margin-bottom: 50px;
}

.call-news .holder span {
  font-family: $Trirong;
  font-size: 1.6rem;
  font-weight: 700;
  border-bottom: 2px solid #000;
}

.call-news span img {
  height: 6px;
  padding: 0 5px;
  margin-bottom: 3px;
}

//
@media only screen and (min-width: 1023px) {
  .call-news p {
    font-size: 1.7rem;
    letter-spacing: .15rem;
  }

  .call-news .holder span {
    font-size: 1.8rem;

  }
}
