@import 'normal-reset';
@import 'x-mixins';
@import 'myheader';
@import 'myfooter';

// scss
$Trirong: 'Trirong', serif;
$OpenSans: 'Open Sans', sans-serif;
$cinzaClaro: #A1A1A1;

.holder-main {
  padding: 100px 0;
}

// home start main
.sct-collection {
  width: 100%;
  flex-direction: column;
  padding: 0 0 70px;
}

.collection-photos {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;

}

.photo {
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: #000000;
}

.photo-1 {
  display: none;
  z-index: 1;
}

.photo-2 {
  position: relative;
  width: 90%;
  height: 110vw;
}

.photo-3 {
  display: none;
}

.collection-header {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.collection-header p {
  color: #A1A1A1;
  font-size: .7rem;
  letter-spacing: .5rem;
  margin-top: 25px;
  margin-bottom: 20px;
}

.collection-header h1 {
  font-size: 3rem;
}

.collection-header .titulo-1 {
  margin-left: 20px;
}

.collection-header .titulo-2 {
  margin-left: 70px;
}

.collection-header .btn-transparent {
  margin: 20px 5px 5px;
}
@media only screen and (min-width: 767px) {
  .photo-1 {
    display: flex;
    width: 22%;
    height: 32vw;
    left: 4%;
  }

  .photo-2 {
    width: 45%;
    height: 60vw;
  }

  .photo-3 {
    display: flex;
    width: 32%;
    height: 20vw;
    right: 4%;
    top: 21%;
  }

  .collection-2 .photo-1 {
    width: 22%;
    height: 32vw;
    left: 10%;
    top: -10px;
  }

  .collection-2 .photo-3 {
    width: 32%;
    height: 20vw;
    right: 5%;
    top: auto;
    bottom: -10px;
  }

  .collection-3 .photo-1 {
    width: 32%;
    height: 20vw;
    left: 4%;
    top: 100px;
  }

  .collection-3 .photo-3 {
    width: 22%;
    height: 32vw;
    right: 4%;
    top: 23%;
  }

  .collection-header {
    width: 70%;
    margin-top: -80px;
  }
}

//
@media only screen and (min-width: 1023px) {
  .holder-main {
    padding: 130px 0 0;
  }

  .sct-collection {
    padding: 0 0 150px;
  }
}

//
@media only screen and (min-width: 1365px) {
  .collection-1 .photo-1 {
    width: 270px;
    height: 400px;
    left: 11%;
  }

  .collection-1 .photo-2 {
    width: 500px;
    height: 650px;
  }

  .collection-1 .photo-3 {
    width: 390px;
    height: 280px;
    right: 7%;
    top: 20%;
  }

  .collection-2 .photo-1 {
    width: 270px;
    height: 400px;
    left: 15%;
    top: -30px;
  }

  .collection-2 .photo-2 {
    width: 500px;
    height: 650px;
  }

  .collection-2 .photo-3 {
    width: 390px;
    height: 280px;
    right: 10%;
    bottom: -20px;
  }

  .collection-3 .photo-1 {
    width: 390px;
    height: 280px;
    left: 8%;
    top: 170px;
  }

  .collection-3 .photo-2 {
    width: 500px;
    height: 650px;
  }

  .collection-3 .photo-3 {
    width: 270px;
    height: 400px;
    right: 11%;
    top: auto;
  }

}
@media only screen and (min-width: 1919px) {
  .holder-main {
    max-width: 1366px;
  }

  .sct-collection {
    padding: 50px 0 150px;
  }

  .collection-header h1 {
    font-size: 4rem;
  }

  .collection-header p {
    margin-top: 0;
    margin-bottom: 60px;
  }
}
