@import "normal-reset";
@import "alias-mixins";

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: #003558;
  overflow: hidden !important;
}

//<!-- ------------  Photo intro ------------ -->
.ctn-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  .photo-bg {
    @include hw100p;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  .fader-photo-intro {
    @include hw100p;
    background: #003558;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.45;
  }
}

//<!-- ------------  ctn svg ------------ -->
.ctn-svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  .holder-svg {
    margin-top: -5vh;
    @include hw100p;
    color: #fff;
    @include desk {
      margin-top: -8vh;
    }

    svg#symbol-full {
      width: 96vw;
      @include tablet {
        width: 400px;
      }
      @include desk {
        width: 38vw;
      }
      @include hd {
        width: 750px;
      }
    }
  }
}
.logo-letters {
  position: absolute;
  margin-top: 8vh;
  width: 80vw;
  @include desk {
    width: 23vw;
  }
}

// <!-- ------  button ----------  -->
.ctn-btn {
  position: absolute;
  z-index: 1;
  width: 100vw;
  bottom: 19vh;
  cursor: pointer;
  @include desk {
    bottom: 13vh;
  }

  button.go-home {
    @include sans;
    @include clear;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.288);
    width: 160px;
    height: 50px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;

    @include desk {
      width: 200px;
      height: 50px;
    }
  }
}

// PRELOAD
.preload {
  position: fixed;
  background-color: #104674;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 99;
}

//svg properties
#tinf,
#tright,
#tleft {
  visibility: hidden;
}

.intro-bd-1 {
  width: calc(100% + 1px);
  height: 1px;
  position: absolute;
  background: #fff;
  top: -1px;
  left: 0;
}

.intro-bd-3 {
  width: calc(100% + 1px);
  height: 1px;
  position: absolute;
  background: #fff;
  bottom: -1px;
  right: 0;
}

.intro-bd-2 {
  width: 1px;
  height: calc(100% + 1px);
  position: absolute;
  background: #fff;
  right: -1px;
  top: 0;
}

.intro-bd-4 {
  width: 1px;
  height: calc(100% + 1px);
  position: absolute;
  background: #fff;
  left: -1px;
  bottom: 0;
}

@media only screen and (max-width: 767px) {
.ctn-bg .fader-photo-intro {
  background: url(/image/mb-especialidades.jpg)center no-repeat ;
}

}