@import 'x-mixins';

// scss
$Trirong: 'Trirong', serif;
$OpenSans: 'Open Sans', sans-serif;
$cinzaClaro: #A1A1A1;

// formatação geral
h1 {
  font-family: $Trirong;
  font-size: 2.5rem;
}

h2 {
  font-family: $Trirong;
}

p {
  font-family: $OpenSans;
  color: #959595;
  font-size: .8rem;
  line-height: 1.8rem;
}

//
@include x-1366 {
  font-size: .9rem;
}

span {
  font-family: $OpenSans;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

// menu mobile
.menu-mobile {
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 99;
  top: 0;
  left: -100vw;
  flex-direction: column;
}

.closed {
  font-size: 2.5rem;
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}
// fecha

// compartilhar
@media only screen and (min-width: 1023px) {
  .x-compartilhar {
    position: fixed;
    top: 71%;
    left: 3%;
    display: flex;
    align-items: center;
    transform-origin: center left;
    transform: rotate(-90deg);
    z-index: 1;
  }

  .x-compartilhar .risco {
    width: 80px;
    height: 1px;
    background: #000;
  }

  .x-compartilhar span {
    font-family: $OpenSans;
    font-size: .6rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 10px;

  }

  .x-compartilhar .social img {
    height: 15px;
  }
}
// fecha

// header
.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.main-header {
  width: 100%;
  padding: 30px 20px;
  max-width: 1430px;
}

.header .x-menu {
  display: none;
}

.x-cart {
  display: none;
}

.logo {
  height: 40px;
}

.mobile-trigger {
  width: 25px;
  height: 14px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mobile-trigger-line {
  width: 100%;
  height: 2px;
}

//
@include x-768 {
  .main-header {
    padding: 45px 10px;
  }
}

// full header
.full-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000000;
  overflow: hidden;
}

//
@include x-1024 {
  // header 
  .mobile-trigger {
    display: none;
  }

  .main-header {
    padding: 45px 20px;
    justify-content: space-between;
  }

  .header .x-menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-left: auto;
  }

  .header .logo {
    height: 40px;
  }

  .header .x-menu li {
    color: black;
    margin-bottom: 0;
  }

  .header .x-menu-2 li {
    color: white;
  }

  .x-cart {
    display: flex;
    height: 100%;
    margin-left: 10px;
  }

  .bg-cart {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
  }

  .bg-cart-2 {
    background: white;
  }

  .bg-cart img {
    height: 14px;
  }
}

//
@include x-768 {
  .main-header {
    padding: 45px 30px;
  }
}

//
@include x-1366 {
  .main-header {
    padding: 45px 40px;
  }
}

//
@media only screen and (min-width: 1919px) {
  .main-header {
    padding: 45px 0;
  }

  .header .x-menu li {
    margin-left: 30px;
  }
}

// main
.main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
// fecha

// assets
.btn-branco {
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: .07rem;
  border: 1px solid #D2D2D2;
  color: black;
  padding: 20px 40px;
  margin: 10px;
}

.btn-branco img {
  height: 8px;
  margin-left: 20px;
}

.btn-transparent {
  font-family: $OpenSans;
  font-size: .8rem;
  letter-spacing: .3rem;
  padding: 8px;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
}

// title separator
.title-separator {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.title-separator span {
  font-family: $Trirong;
  font-size: 1.5rem;
  padding: 5px;
  max-width: 70%;
}

.title-separator .holder-risco {
  flex-grow: 1;
  background: $cinzaClaro;
  height: 1px;
  margin-left: 10px;
}

//
@include x-1366 {
  .title-separator {
    padding-bottom: 60px;
  }
}

//
@media only screen and (min-width: 1919px) {
  .title-separator span {
    font-size: 1.8rem;
  }
}

// slider mobile
.slider-type-1 {
  position: relative;
  width: 97%;
  height: 120vw;
  overflow: hidden;
  margin: 60px auto;
}

//
@include x-768 {
  .slider-type-1 {
    width: 85%;
    height: 60vw;
    margin: 150px auto;
  }
}

.cortina {
  width: 100%;
  height: 100%;
  background: rgb(207, 207, 207);
  position: absolute;
}

// trigger 1
.trigger-1 {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.trigger-1 img {
  height: 12px;
}

.holder-trigger {
  position: absolute;
  right: 0;
  bottom: 0;
}

.trigger-1:last-child {
  margin-top: 5px;
}
// fecha

// looks coleção
// the looks
.the-looks {
  padding: 60px 0;
  flex-direction: column;
}

.ctn-looks {
  padding: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.look {
  width: 41vw;
  padding: 5px 5px 40px;

}

.ctn-looks .holder-photo {
  width: 100%;
  height: 61vw;
  background: #000;
}

.look-info {
  padding: 30px 0;

}

.look-info .titulo {
  font-size: 1rem;
  width: auto;
  font-family: $OpenSans;
  padding: 0 0 10px;

}

.look-info .codigo {
  font-family: $OpenSans;
  font-size: .8rem;
  color: $cinzaClaro;
}
@include x-768 {
  .ctn-looks {
    width: 85%;
  }
}

//
@media only screen and (min-width: 1023px) {
  .ctn-looks {
    width: 75%;
  }

  .look {
    width: 182px;
  }

  .ctn-looks .holder-photo {
    width: 100%;
    height: 260px;
  }
}

//
@media only screen and (min-width: 1365px) {
  .the-looks {
    padding: 100px 0;
  }

  .ctn-looks {
    width: 78%;
  }

  .look {
    width: 245px;
  }

  .ctn-looks .holder-photo {
    width: 100%;
    height: 350px;
  }
}
@include x-1920 {
  .ctn-looks {
    width: 100%;
  }

  .look {
    width: 345px;
  }

  .ctn-looks .holder-photo {
    width: 100&;
    height: 480px;
  }
}
// fehca
