@import 'normal-reset';
@import 'x-mixins';
@import 'myheader';
@import 'myfooter';

// scss
$Trirong: 'Trirong', serif;
$OpenSans: 'Open Sans', sans-serif;
$cinzaClaro: #A1A1A1;

// shop-inner
.holder-product {
  width: 340px;
  position: relative;
  margin: 0 auto;
}

.product-full .holder-img-full {
  width: 100%;
  height: 500px;
}

.product-full .thumb {
  width: 100%;
  margin: 0 auto;
}

.product-full .thumb {
  justify-content: space-around;
}

.thumb .holder {
  width: 80px;
  height: 80px;
  margin: 10px 0 0;
  border: 2px solid white;
  overflow: hidden;
}

.product-specifications {
  width: 100%;
}

.specifications-1 {
  padding: 30px 0;
  justify-content: space-between;
  align-items: center;
}

.specifications-1 .name {
  line-height: 2.7rem;
}

.specifications-2 {
  font-family: $OpenSans;
  justify-content: space-between;
  font-size: .9rem;
  border-bottom: 1px solid rgb(219, 219, 219);
  padding: 10px 0;
}

.specifications-2 .feature {
  font-weight: 700;
  letter-spacing: .1rem;
}

.specifications-2 span {
  padding: 5px 10px;
}

.product-specifications .variation {
  padding: 8px;
}

.product-specifications .variation img {
  height: 5px;
}

.specifications-3 {
  padding: 10px 0;
  justify-content: space-between;
}

.specifications-3 .btn-branco {
  margin: 5px 0;
  padding: 20px 60px;
}

.specifications-3 span {
  font-size: 1.3rem;
}

.specifications-4 {
  margin-top: 50px;
}

.specifications-4 span {
  font-family: $OpenSans;
  font-size: .6rem;
  color: $cinzaClaro;
  padding: 0 10px;
  border-right: 1px solid $cinzaClaro;
  letter-spacing: .05rem;
}

.specifications-4 span:nth-child(1) {
  padding-left: 0 !important;
}

.specifications-5 p {
  padding: 25px 0;
}

//
@include x-768 {
  .product-full .holder-product {
    width: 90%;
    margin: 0 auto;
  }
}

//
@include x-1024 {
  .product-full .holder-product {
    display: flex;
  }

  .product-full .holder-img-full {
    width: 400px;
    height: 600px;
    margin-right: 50px;
  }

  .product-full .col-1 {
    position: relative;
  }

  .product-full .thumb {
    width: auto;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .thumb .holder {
    width: 40px;
    height: 40px;
    margin: 10px 0 0;
  }
}

//
@include x-1366 {
  .product-full .holder-img-full {
    width: 590px;
    height: 750px;
  }

  .thumb .holder {
    width: 60px;
    height: 60px;
  }
}
@include x-1920 {
  .product-full {
    padding: 30px 0 80px;
  }

  .sct-looks.row-2 {
    margin-top: 130px;
  }

}
