/* Estilos Gerais */
	a {
		text-decoration: none;
	}
.body {
	background: #000;
	z-index: -9999;
	display: block;
}

a, p {
    font-family: 'Barlow', sans-serif;    
}

span {
    font-weight: 700;
}

/*Init WebSite*/

/*LOGO*/

.box-logo {
	position: fixed;
	width: 200px;
	height: 30px;
	top: 20px;
	left: 0px;
	justify-content: center;
	align-items: center;
	display: flex;

}

.name-logo {
	font-size: 10px;
	color: #fff;
	font-weight: 300;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-indent: 3px;
	font-family: 'Josefin Sans', sans-serif;
}



/*MENU*/

.menu-button {
	position: fixed;
	top: 7px;
	right: 14px;
	width: 60px;
	height: 60px;
}


.line-1, .line-2 , .line-3  {
	width: 30px;
	height: 2px;
	left: 16px;
	background: #fff;
	position: absolute;
}

.line-1 {
    top: 19px;
}

.line-2 {
    top: 28px;
}

.line-3 {
    top: 37px;
}

/*CONTAINER MAIN*/

.ctn-main {
    position: relative;
    display: flex;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    display: flex;
    z-index: -9999;

  }

.ctn-title {
    font-size: 25px;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	height: 300px;
	text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1;
    flex-direction: column;
    text-align: center;
}


.ctn-title p {
    font-size: 10px;
    font-family:'Barlow', sans-serif;
    font-weight: 200;
    padding: 10px 0 10px 0;
    letter-spacing: 1px;
    line-height: 17px;
    opacity: .5;
}





/*CLICK NAVI*/

.site-by {
    position: fixed;
    font-family: 'Barlow', sans-serif;
    font-size: 10px;
    color: #fff;
    width: 100%;
    height: 10px;
    display: flex;
    bottom: 70px;
    letter-spacing: 4px;
    text-transform: uppercase;
    justify-content: center;
    font-weight: 100;    
}


/*FOOTER*/

.instagram {
    position: fixed;
    bottom: 12px;
    left: 15px;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    opacity: .5;
}

.copy {
    position: fixed;
    bottom: 12px;
    right: 15px;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    opacity: .5;
    letter-spacing: 2px;
}

/*RESPONSIVO*/

@media only screen and (min-width: 414px) {

.ctn-title {
    font-size: 30px;
}

.ctn-title p {
	line-height: 22px;
}

.site-by {
    height: 57px;
}

}


@media only screen and (min-width: 768px) {

.ctn-title {
	font-size: 30px;
	letter-spacing: 5px;

}

.ctn-title p {
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 30px;
    width: 80%;
    padding: 20px 0 20px 0;
    margin-top: 10px;
}

.site-by {
    bottom: 25px;
    height: 20px;
}

.instagram {
    bottom: 25px;
    left: 25px;
}

.copy {
    bottom: 25px;
    right: 25px;
}


}

@media only screen and (min-width: 1024px)  {

.ctn-title {
	font-size: 50px;
	letter-spacing: 15px;
}

.ctn-title p {
    font-size: 16px;
    line-height: 40px;
}

}


@media only screen and (min-width: 1366px){

.ctn-main {
    max-width: 940px;
}


.ctn-title {
    font-size: 30px;
    letter-spacing: 5px;
}

.ctn-title p {
    font-size: 12px;
    line-height: 30px;
    max-width: 700px;
    margin-top: 0px;
    padding: 10px;
}

.menu-button {
    top: 31px;
    right: 40px;
}

.box-logo {
    top: 40px;
    left: 25px;
}

.box-logo h1 {
   font-size: 12px;
}

.instagram {
    bottom: 40px;
    left: 50px;
    font-size: 12px;
}

.copy {
    bottom: 40px;
    right: 50px;
    font-size: 12px;
}

.site-by {
    bottom: 39px;
    height: 20px;
    font-size: 12px;
}


}
