@import 'normal-reset';
@import 'x-mixins';
@import 'myheader';
@import 'myfooter';

// scss
$Trirong: 'Trirong', serif;
$OpenSans: 'Open Sans', sans-serif;
$cinzaClaro: #A1A1A1;

// classes especiais

// blog inner
// full header
.full-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #000000;
  overflow: hidden;
}

.full-header img {
  opacity: .1;
}

.full-header .titulo {
  bottom: 20%;
}

.full-header .trace {
  width: 30px;
  height: 1px;
  background: #A1A1A1;
  opacity: .8;
  margin: 0 15px 15px 0;
}

.full-header .titulo p {
  font-size: .5rem;
  letter-spacing: .3rem;
  margin-left: 35px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.full-header .titulo h1 {
  font-size: 3.2rem;
  line-height: 3.4rem;
}

.full-header .titulo-2 {
  margin-left: 40px;
}

//
@include x-768 {
  .full-header {
    height: 100vw;
  }

  .full-header .titulo h1 {
    font-size: 5rem;
    line-height: 5.2rem;
  }

  .full-header .titulo p {
    font-size: .8rem;
    margin-left: 70px;
    margin-bottom: 40px;
  }
}

//
@include x-1024 {
  .full-header {
    height: 80vh;
  }

  .full-header .titulo {
    bottom: 39%;
    left: 28%;
  }

  .full-header .titulo p {
    font-size: .6rem;
    margin-left: 75px;

  }

  .full-header .titulo h1 {
    font-size: 4.2rem;
    line-height: 4.4rem;
    letter-spacing: .1rem;
  }

  .full-header .titulo-2 {
    margin-left: 64px;
  }
}
@include x-1366 {
  .full-header {
    height: 80vh;
  }

  .full-header .titulo {
    bottom: 25%;
    left: 25%;
  }

  .full-header .titulo h1 {
    font-size: 5.2rem;
    line-height: 5rem;
  }
}

//
@include x-1920 {
  .full-header .titulo h1 {
    font-size: 5.2rem;
    line-height: 5.0rem;
  }
}

// main
.main-holder {
  max-width: none;
}

.xh2 {
  font-size: 2.5rem;
  line-height: 2.8rem;
}

.row-1 .col-1 {
  padding: 90px 50px;
}

.row-1 .xh2:nth-child(2) {
  margin-bottom: 20px;
}

.row-1 .col-2 {
  width: 100%;
  height: 178vw;
}

//
@include x-768 {
  .row-1 {
    display: flex;
    padding: 80px 25px;
  }

  .row-1 .col-1 {
    box-sizing: border-box;
    padding: 50px 25px;
    width: 60%;
  }

  .row-1 .xh2:nth-child(2) {
    margin-left: 30px;
  }

  .row-1 .col-2 {
    width: 40%;
    height: 60vw;
  }
}

//
@include x-1024 {
  .row-1 {
    display: flex;
    width: 90%;
    margin: 130px auto;
    justify-content: space-around;
    align-items: center;
  }

  .row-1 .col-1 {
    padding: 50px;
    width: 50%;
    box-sizing: border-box;

  }

  .row-1 .xh2 {
    font-size: 2.3rem;
    line-height: 2.6rem;
  }

  .row-1 .xh2:nth-child(2) {
    margin-left: 50px;
  }

  .row-1 .xp {
    padding: 0 40px;
    box-sizing: border-box;
  }
}

//
@include x-1366 {
  .row-1 .xh2 {
    font-size: 3rem;
    line-height: 3.2rem;
  }
}

//
@include x-1920 {
  .row-1 .col-1 {
    padding: 50px 120px;
  }

  .row-1 .col-2 {
    max-width: 550px;
    max-height: 900px;
  }
}

// row-2
.row-2 {
  padding: 50px 0;

}

.row-2 div {
  width: 100%;
  height: 100vw;
  padding: 5px 10px;
  box-sizing: border-box;
}
@include x-768 {
  .row-2 div {
    padding: 0;
  }

  .row-2 div:nth-child(1) {
    width: 100%;
    height: 50vw;
  }

  .row-2 div:nth-child(2) {
    width: 40%;
    height: 40vw;
    margin-left: auto;
  }

  .row-2 div:nth-child(3) {
    width: 40%;
    height: 25vw;
    margin-left: 10vw;
    margin-top: -10vw;
  }
}

//
@include x-1024 {
  .row-2 {
    display: flex;
    flex-direction: column;
  }

  .row-2 div {
    margin-bottom: 0;
  }

  .row-2 div:nth-child(1) {
    width: 90%;
    height: 40vw;
    max-width: 1650px;
    max-height: 660px;
  }

  .row-2 div:nth-child(2) {
    width: 40vw;
    height: 40vw;
    max-width: 660px;
    max-height: 660px;
    align-self: flex-end;
  }

  .row-2 div:nth-child(3) {
    width: 38vw;
    height: 28vw;
    max-width: 700px;
    max-height: 450px;
    margin-left: 11%;
    margin-top: -100px;
  }
}

//
@include x-1920 {
  .row-2 div:nth-child(3) {
    margin-left: 20%;

  }
}

// row-3
.row-3 {
  text-align: center;
  padding: 50px 50px 100px;
}

.row-3 .xh2 {
  margin-bottom: 20px;
}

//
@include x-768 {
  .row-3 {
    width: 50%;
    margin: 0 auto;
  }
}

//
@include x-1024 {
  .row-3 {
    width: 350px;
    margin: 0 auto 150px;
  }

  .row-3 .xh2 {
    font-size: 2.3rem;
    line-height: 2.6rem;
  }
}

//
@include x-1366 {
  .row-3 {
    padding: 130px 50px 250px;
  }

}
@include x-1920 {
  .row-3 .xh2 {
    font-size: 3.3rem;
    line-height: 3.6rem;
  }

  .row-3 {
    width: 460px;
    margin: 0 auto 80px;
  }
}

// row-4
.row-4 {
  width: 100%;
  background: #EFEBE9;
  padding: 0 0 50px;
}

.row-4 .col-1 {
  position: relative;
  width: 100%;
  height: 160vw;
}

.row-4 .col-2 {
  padding: 50px;
}

.row-4 .trace {
  width: 30px;
  height: 1px;
  background: #A1A1A1;
  opacity: .8;
  margin: 0 15px 15px 0;
}

.row-4 span {
  display: block;
  font-size: .5rem;
  letter-spacing: .3rem;
  margin-left: 35px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.row-4 ._xh2 {
  margin: 0 0 20px 30px;
}

//
@include x-768 {
  .row-4 {
    box-sizing: border-box;
    padding: 50px;
  }

  .row-4 .holder {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
  }

  .row-4 .col-1 {
    width: 40%;
    height: 60vw;
    margin-top: -15vw;
  }

  .row-4 .col-2 {
    width: 60%;
    box-sizing: border-box;
    padding: 50px 50px 50px 0;
  }
}

//
@include x-1024 {
  .row-4 {
    padding: 50px 0;
  }

  .row-4 .holder {
    width: 90%;
  }

  .row-4 .col-2 {
    width: 60%;
    box-sizing: border-box;
    padding: 50px 100px;
  }

  .row-4 .xh2 {
    font-size: 2.3rem;
    line-height: 2.6rem;
  }

  .row-4 span {
    margin: 0 0 50px 40px;
  }
}

//
@include x-1366 {
  .row-4 {
    padding: 100px 0;
  }

  .row-4 .holder {
    width: 75%;
  }

  .row-4 .col-1 {
    width: 40%;
    height: 50vw;
    margin-top: -15vw;
  }

  .row-4 .col-2 {
    padding: 50px 100px;
    margin-right: auto;
  }

  .row-4 .xh2 {
    font-size: 3.2rem;
    line-height: 3.4rem;
  }

}

//
@include x-1920 {
  .row-4 .holder {
    width: 70%;
  }

  .row-4 .col-1 {
    max-width: 480px;
    max-height: 840px;
  }

  .row-4 .xh2 {
    font-size: 3.6rem;
    line-height: 3.8rem;
  }

  .row-4 span {
    font-size: .7rem;
  }
}
