@import "normal-reset";
@import "alias-mixins";

$font1: "Raleway", sans-serif;
$font2: "Oswald", sans-serif;
$cor1: #7cdf00;
$cor2: #5d5d5d;
$cor3: #0d9900;

* {
  box-sizing: border-box;
}

.display-none {
  display: none !important;
}

.body-home {
  position: relative;
  overflow: hidden;
  background-color: #000;
  width: 100%;
  height: 100vh;
}

h1 {
  font-family: $font1;
  color: #ffffff;
}

.black-curtain {
  width: 100%;
  height: 100vh;
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.fast-curtain {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
}

.loading {
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loading-h2 {
  position: absolute;
  font-family: $font1;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.load-bg-1 {
  width: 100%;
  height: 100%;
  background: $cor1;
  position: absolute;
}

.load-bg-2 {
  width: 100%;
  height: 100%;
  background: $cor3;
  position: absolute;
}

.ctn-video {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.842);
  z-index: 999;
  display: none;
}

.header-full {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 15px;
  margin: 0 auto;
  z-index: 5;
}

.box-header {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viston-logo {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.box-menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.text-menu {
  font-family: $font2;
  color: $cor1;
  letter-spacing: 0.05rem;
  margin-bottom: 4px;
}

.ctn-trigger {
  width: 50px;
  height: 50px;
}

.ctn-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-trigger {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line-trigger {
  width: 100%;
  height: 2px;
  background: $cor1;
}

.travel-scroll {
  display: none;
  z-index: 5;
}

@media only screen and (max-width: 767px) {
  .home-nav {
    display: none;
    overflow: hidden;
  }

  .box-social {
    display: none;
  }


}

.home-nav {
  height: 100vh;
  background: rgb(252, 0, 0);
  position: fixed;
  right: 25px;
  display: flex;
  align-items: center;
  z-index: 15;
}

.line-full {
  width: 1px;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  right: 0;
  opacity: .15;
}

.ctn-nav {
  right: 0;
  position: absolute;
}

.box-nav {
  height: 40px;
  width: 300px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
}

.p-box {
  height: 100%;
  width: 0;
  display: flex;
  background: $cor1;
  overflow: hidden;
  position: relative;
}

.p-nav {
  font-family: $font2;
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}

.number-nav {
  font-family: $font2;
  color: rgba(255, 255, 255, 0.4);
  font-size: 0.6rem;
  letter-spacing: 0.2rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 20px;
}

.number-border {
  position: absolute;
  height: 40px;
  width: 1px;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.4);
}

.space {
  height: 45px;
}

.footer-home {
  width: 100%;
  position: fixed;
  bottom: 15px;
  z-index: 15;
}

.ctn-footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-p {
  font-family: $font1;
  font-size: 0.8rem;
  color: $cor2;
  text-align: center;
  line-height: 1.2rem;
}

.footer-p span {
  font-weight: 700;
}

.holder-prime {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: #000;
}

.ctn-prime {
  width: 100vw;
  height: 100vh;
  background: #000;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bg-1 {
  background: url(/images/bg-1.png) center no-repeat;
  background-size: cover;
}

.bg-2 {
  background: #fff;
  background-size: cover;
}

.box-prime {
  margin-bottom: 100px;
}

.box-prime-h2 {
  font-family: $font1;
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  line-height: 1.8rem;
  letter-spacing: 0.4rem;
}

.box-prime-p {
  color: #fff;
  font-family: $font1;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.mg-top-p {
  margin-top: 20px;
}

.box-enjoy {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  cursor: pointer;
  z-index: 1;
}

.btn-enjoy {
  width: 65px;
  height: 65px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.363);
  border-radius: 50%;
  margin-bottom: 15px;
  cursor: pointer;
}

.btn-enjoy img {
  height: 12px;
  margin-left: 2px;
}

.btn-enjoy-P {
  font-family: $font2;
  color: $cor1;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
  z-index: 1;
}

.barra-1 {
  height: 400px;
  position: absolute;
  bottom: 70px;
  right: -188px;
}

.barra-2 {
  height: 400px;
  position: absolute;
  bottom: -240px;
  right: 20px;
}

@media only screen and (min-width: 767px) {
  .box-prime-h2 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.6rem;
  }

  .box-prime-p {
    font-size: 1rem;
    line-height: 1.7rem;
    text-align: center;
  }
}

@media only screen and (max-width: 1022px) {
  .box-social {
    display: none;
  }

  .box-tag {
    display: none;
  }
}

@media only screen and (min-width: 1023px) {
  .ctn-prime {
    align-items: flex-start;
  }

  .box-prime {
    margin-bottom: 0;
    margin-left: 90px;
  }

  .box-prime-h2 {
    text-align: left;
    line-height: 2.5rem;
    letter-spacing: 0.6rem;
    font-size: 1.7rem;
  }

  .box-prime-p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: left;
  }

  .box-enjoy {
    flex-direction: row;
    justify-content: flex-start;
  }

  .btn-enjoy {
    width: 45px;
    height: 45px;
    margin-bottom: 0;
    margin-right: 15px;
  }

  .box-tag {
    position: absolute;
    right: 120px;
    font-size: 1.2em;
    letter-spacing: 0.3rem;
    font-family: $font1;
    font-weight: 700;
    color: #fff;
  }

  .ctn-footer {
    justify-content: flex-end;
  }

  .footer-p {
    margin-right: 10px;
    letter-spacing: 0.03rem;
    font-size: 0.7rem;
  }

  .box-social {
    margin-right: 40px;
  }

  .box-social img {
    height: 18px;
    margin-left: 5px;
  }

  .ctn-footer {
    width: 96%;
  }

  .travel-scroll {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: block;
    z-index: 10;
  }

  .ctn-scroll {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 190px;
  }

  .scroll-text-holder {
    width: 100px;
    height: 25px;
    margin-bottom: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
  }

  .box-scroll-text {
    position: absolute;
    top: 0;
  }

  .scroll-p {
    font-size: 0.7rem;
    font-family: $font2;
    color: $cor1;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.2rem;
  }

  .line-scroll {
    width: 1px;
    height: 70px;
    background: #fff;
    opacity: .2;
  }

  .ctn-scroll img {
    height: 55px;
    margin-top: -15px;
    position: absolute;
    bottom: 0;
    opacity: .6;
  }


}

@media only screen and (min-width: 1365px) {
  .box-prime {
    margin-left: 8%;
  }

  .box-tag {
    right: 18%;
  }

  .barra-1 {
    height: 65vh;
    bottom: auto;
    right: auto;
    left: 33%;
    top: -1vh;
  }

  .barra-2 {
    height: 65vh;
    right: auto;
    left: 13%;
    bottom: -17vh;
  }
}

@media only screen and (min-width: 1919px) {
  .header-full {
    top: 35px;
  }

  .box-prime {
    margin-left: 11%;
  }

  .box-prime-h2 {
    line-height: 3rem;
    letter-spacing: 0.6rem;
    font-size: 2rem;
  }

  .barra-1 {
    left: 34%;
  }

  .barra-2 {
    left: 16%;
  }

  .travel-scroll {
    position: fixed;
    bottom: 30px;
    left: 40px;
  }

  .home-nav {
    right: 50px;
  }

  .ctn-footer {
    width: 95%;
  }
}

/* --------------- Slider 2 --------------- */

.holder-faixa {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  align-self: flex-start;
}

.bg-faixa {
  position: absolute;
  height: 100%;
  left: -187vw;
  bottom: 25vh;
}

.modelo-1 {
  height: 106vh;
  position: absolute;
  bottom: -108px;
}

.holder-2 .box-prime-h2 {
  color: rgba(0, 0, 0, 0.8);
}

.holder-2 .box-prime-p {
  color: #000;
}

.holder-2 .box-prime {
  position: absolute;
  z-index: 1;
  bottom: 1vh;
}

@media only screen and (min-width: 767px) {
  .holder-2 .box-prime {
    bottom: 7vh;
  }

  .modelo-1 {
    height: 100vh;
    bottom: -120px;
  }

  .bg-faixa {
    left: -130vw;
    bottom: 25vh;
  }
}

@media only screen and (min-width: 1023px) {
  .bg-2 {
    display: flex;
    justify-content: center;
  }

  .holder-2 .box-prime {
    bottom: auto;
  }

  .bg-faixa {
    height: auto;
    left: 0;
    bottom: auto;
    width: 102vw;
  }

  .modelo-1 {
    height: 130vh;
    align-self: center;
    bottom: -40vh;
  }
}

/* --------------- Slider 3 --------------- */

.bg-3 {
  background: #000000;
}

.modelo-2 {
  height: 90vh;
  position: absolute;
  bottom: 0;
}

.barra-dupla-1 {
  height: 80vh;
  position: absolute;
  bottom: -80px;
}

.holder-3 .box-prime {
  z-index: 1;
  position: absolute;
  bottom: 0;
}

@media only screen and (min-width: 767px) {
  .barra-dupla-1 {
    height: 60vh;
    bottom: 60px;
  }

  .holder-3 .box-prime {
    bottom: 7vh;
  }
}

@media only screen and (min-width: 1023px) {
  .barra-dupla-1,
  .modelo-2 {
    align-self: center;
  }

  .holder-3 .box-prime {
    bottom: auto;
  }

  .barra-dupla-1 {
    height: 73vh;
    bottom: auto;
    right: 126px;
  }
}

@media only screen and (min-width: 1365px) {
  .modelo-2 {
    height: 95vh;
  }

  .barra-dupla-1 {
    right: 265px;
  }
}

@media only screen and (min-width: 1919px) {
  .barra-dupla-1 {
    height: 92vh;
    right: 319px;
  }
}

/* --------------- Slider 4 --------------- */
.holder-4 .box-prime {
  z-index: 1;
  position: absolute;
  bottom: -4vh;
}
.bg-4 {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modelo-3 {
  height: 90vh;
  position: absolute;
  right: 0;
  bottom: 0;
}

.holder-faixa-2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-faixa-2 {
  height: 100vh;
  position: absolute;
}

.holder-4 .box-prime-h2 {
  font-size: 2rem;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.box-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.box-links a {
  font-family: $font2;
  color: #fff;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  text-shadow: 1px 1px #000;
}

@media only screen and (min-width: 767px) {
  .holder-4 .box-prime {
    bottom: 8vh;
  }

  .holder-4 .box-prime-h2 {
    font-size: 4rem;
    line-height: 4.3rem;
  }

  .box-links a {
    line-height: 2rem;
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1023px) {
  .holder-4 .box-prime {
    bottom: auto;
    align-self: flex-start;
  }

  .box-links {
    align-items: flex-start;
  }

  .holder-4 .box-prime-h2 {
    color: rgb(0, 0, 0);
    text-shadow: none;
  }

  .box-links a {
    color: rgb(0, 0, 0);
    text-shadow: none;
  }

  .bg-faixa-2 {
    height: auto;
    width: 100vw;
    right: 0;
  }
}

@media only screen and (min-width: 1365px) {
  .holder-4 .box-prime {
    margin-left: 25%;
  }
}

/* --------------- JavaScript Start --------------- */

.js-nav-1 .number-border {
  background: $cor1;
}

.number-1 {
  color: $cor1;
}

/* 
.holder-2,
.holder-3,
.holder-4 {
  width: 0;
  left: 0;
}

*/

.holder-1 {
  left: 0;
}
