/* <!-- ------------- whoisbrux ------------- --> */

.holder-slider {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(139, 139, 139);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 100;
}

.sliders {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: +100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliders h1 {
  font-size: 200px;
  color: #fff;
}

.bg-1 {
  background: rgb(255, 0, 0);
}

.bg-2 {
  background: rgb(255, 230, 0);
}

.bg-3 {
  background: rgb(0, 68, 255);
}

.bg-4 {
  background: rgb(64, 148, 25);
}

.btn11 {
  width: 150px;
  height: 50px;
  position: absolute;
  background: #000;
  color: #ffff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.antes {
    left: 50px;
}

.depois {
    right: 50px;
}
