/********** VARS **********/
$ft1: 'Playfair Display', serif;
$ft2: 'Fjalla One', sans-serif;
$cor1: #c18563;
$cor2: #7e401d;
$cor3: #fae1d3;





/********** CONFIG GERAIS **********/
 .body {
    overflow: hidden;
}

.main {
    width: 100%;
    top: -100vh;
    position: absolute;
    overflow: hidden;

}

* {
    box-sizing: border-box;
}

.button {
    width: 190px;
    height: 50px;
    background: transparent;
    border: 1px solid #81421e;
    font-size: 16px;;
    color: $cor2;
    text-transform: uppercase;
    font-family: $ft2;

}

h1 {
    font-family: $ft1 ;
    font-size: 60px;
 }

h3 {
    font-family: $ft2 ;
    font-size: 15px;
    line-height: 25px;
}


/********** LOGO **********/
.logoPrime {
    width: 45px;
    height: 45px;
    position: fixed;
    left: 3%;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: $ft1;
    color: #fff;
    z-index: 3;
    background: $cor1;
}

.bordaLogo1, .bordaLogo2, .bordaLogo3, .bordaLogo4 {
    background: $cor1;
    position: absolute; 
}

.bordaLogo1 {
    width: 100%;
    height: 1px;
    top: 0;
}

.bordaLogo2 {
    width: 1px;
    height: 100%;
    right: 0; 
}

.bordaLogo3 {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: 0;  
}

.bordaLogo4 {
    width: 1px;
    height: 100%;
    left: 0;
    bottom: 0;
}


/********** menu **********/

.linkMenu {
    width: 50px;
    height: 50px;
    display: flex;
    position: fixed;
    right: 3%;
    top: 2%;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.menu {
    width: 20px;
    height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.risco1, .risco2, .risco3 {
    width: 100%;
    height: 1px;
    background: $cor1;
}

.risco2 {
    bottom: 0;
}

/********** Home **********/
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: $cor3;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.homePhoto{
    height: 100%;
    position: absolute;
    opacity: .3;
    z-index: -1;
}

.photoHome {
    width: 100%;
    height: 100vh;
    background: url("/img/photo/modeltest.jpg") center no-repeat;
    background-size: cover;
    opacity: .3;
}


.textoHome {
    line-height: 50px;
    color: $cor2;
    font-weight: 700;
    position: absolute;

}

.home .button {
    position: absolute;
    bottom: 2%;
}

/********** Slider **********/

.ctnSlider {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.sliderTextos {
    width: 70%;
    height: 12vh;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $cor1;
    overflow: hidden;   
}

.sliderTextos h1 {
    position: absolute;
    font-size: 12vw;
}

.photoSlider {
    width: 80%;
    height: 70vh;
    position: absolute;
    background: url("/img/photo/modeltest.jpg") center no-repeat;
    background-size: cover;
}

.ctnSlider .button {
    position: absolute;
    bottom: 10px;
    color: $cor1;
    border-color: $cor1;
    bottom: 2%;

}


/********** DivUm **********/
.divUm {
    max-width: 1200px;
    height: 800px;
    margin: 0 auto;
    background: $cor1;
    display: flex;
}

.colunaUm,.colunaDois {
    flex-gorw: 1;

}

.boxPhotoDois {
    width: 100%;
    height: 400px;
    background: #000;
}


.teste1 {
    position: fixed;
    background: #ff0000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

